body {
  background: linear-gradient(90deg, rgb(238, 55, 55) 0%, rgb(243, 0, 0) 100%);
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}
.User-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.User-ListGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
